<%= render 'shared/navbar' %>

  <div class="container-fluid">

    <div class="row justify-content-center align-items-center">

        <div class="col-sm-12 text-center banner">
          <h1 class="display-2 text-capitalize text-white mb-3">bocoming better with <span class="text-warning">programming</span> </h1>
          <h2 class="font-weight-light text-white font-italic">
            This website is made for showing my brief history of learning programming <br>
            from July of 2018.  My best wish is achieve my own goal by using <br>
            with programming skills & knowledge. <br>
            This web site is made by Ruby on rails & the each front page represents my struggle of studing skills.
          </h2>
        </div>

    </div>

    </div>


<!-- skill -->
<section class="bg-light mt-2 p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mb-3">
        <h1 class="text-warning display-4">Skills</h1>
        <p class="lead text-secondary">2018年から身につけたスキル一覧</p>
      </div>

      <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-10 mx-auto mb-5">
          <i class="fas fa-desktop fa-5x text-warning mb-3"></i>
          <h2 class="text-secondary">HTML & CSS & BOOTSTRAP</h2>
          <p class="text-muted my-4">Bootstrapを使用し、迅速なフロントページの開発＆レスポンシブ対応についてのスキルを身につけました。</p>
          <a href="#" class="btn btn-outline-warning">Learn More</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10 mx-auto mb-5">
            <i class="far fa-edit fa-5x text-warning mb-3"></i>
            <h2 class="text-secondary">Ruby on Rails </h2> <br>
            <p class="text-muted my-4">Rails を使用した、バックエンドの開発知識 & 実装
            アイデア共有サイトや美術作品の個人間シェアリングサービスをゼロから開発しました</p>
            <a href="#" class="btn btn-outline-warning">Learn More</a>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-10 mx-auto mb-5">
              <i class="fas fa-cogs fa-5x text-warning mb-3"></i>
              <h2 class="text-secondary">Others</h2> <br>
              <p class="text-muted my-4">Python + Django を使用したwebアプリケーション　および　ブロックチェーン＆AIを少しづつ学んでいます</p>
              <a href="#" class="btn btn-outline-warning">Learn More</a>
       </div>
      </div>
    </div>

  </div>
</section>

<!-- progress -->
<section class="p-4">
  <div class="container-fluid">
      <div class="row">
          <div class="col text-center mb-3">
            <h1 class="text-warning display-5">スキル進捗</h1>
            <p class="lead text-secondary">各スキルを表示しています。</p>
          </div>
        </div>

      <div class="row justify-content-center">
       <div class="col-lg-6 col-sm-10 text-secondary">
        <h2>HTML</h2>
          <div class="progress bg-secondary mb-3">
            <div class="progress-bar" style="width: 70%">
              70%
            </div>
          </div>
          <h2>CSS</h2>
          <div class="progress bg-secondary mb-3">
            <div class="progress-bar bg-danger" style="width: 50%">
              50%
            </div>
          </div>
          <h2>jQuery</h2>
          <div class="progress bg-secondary mb-3">
            <div class="progress-bar bg-warning" style="width: 50%">
              50%
            </div>
          </div>
          <h2>Bootstrap</h2>
          <div class="progress bg-secondary mb-3">
            <div class="progress-bar bg-success" style="width: 70%">
              70%
            </div>
          </div>
          <h2>Ruby on Rails</h2>
          <div class="progress bg-secondary mb-3">
            <div class="progress-bar bg-info" style="width: 85%">
              85%
            </div>
          </div>

       </div>
      </div>
  </div>
</section>
